<div class="head">
  <div>Liste des entrainements</div>
  <button  mat-raised-button (click)="newTraining()">Nouvel entrainements</button>
</div>

<div class="desktop">
  <table mat-table [dataSource]="trainings" >
    <ng-container  matColumnDef="nom">
      <th mat-header-cell  *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element"> <div>{{element.title}}</div></td>
    </ng-container>

    <ng-container  matColumnDef="saison">
      <th mat-header-cell  *matHeaderCellDef>Saison</th>
      <td mat-cell *matCellDef="let element"> <div>{{element.season.name}}</div></td>
    </ng-container>

    <ng-container  matColumnDef="type">
      <th mat-header-cell  *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element" ><div *ngFor=" let categorie of element.category "> {{categorie.name}}</div></td>
    </ng-container>

    <ng-container  matColumnDef="entrainement">
      <th mat-header-cell  *matHeaderCellDef>Entrainement</th>
      <td mat-cell *matCellDef="let element"> <div>{{element.entrainement}}</div></td>
    </ng-container>

    <ng-container  matColumnDef="role">
      <th mat-header-cell  *matHeaderCellDef>Categories</th>
      <td mat-cell *matCellDef="let element"><div>{{element.role.name}}</div></td>
    </ng-container>


    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button mat-raised-button (click)="newTraining(element)"><i class="material-icons">
            create
          </i></button>
          <button mat-raised-button (click)="deleteTraining(element)"><i class="material-icons">close</i></button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="mobile">
  <table mat-table [dataSource]="trainings" >
    <ng-container  matColumnDef="nom">
      <th mat-header-cell  *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element"> <div>{{element.title}}</div></td>
    </ng-container>

    <ng-container  matColumnDef="saison">
      <th mat-header-cell  *matHeaderCellDef>Saison</th>
      <td mat-cell *matCellDef="let element"> <div>{{element.season.name}}</div></td>
    </ng-container>

<!--    <ng-container  matColumnDef="type">-->
<!--      <th mat-header-cell  *matHeaderCellDef>Type</th>-->
<!--      <td mat-cell *matCellDef="let element" ><div *ngFor=" let categorie of element.category "> {{categorie.name}}</div></td>-->
<!--    </ng-container>-->

    <ng-container  matColumnDef="role">
      <th mat-header-cell  *matHeaderCellDef>Categories</th>
      <td mat-cell *matCellDef="let element"><div>{{element.role.name}}</div></td>
    </ng-container>


    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef>Options</th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button mat-raised-button (click)="newTraining(element)"><i class="material-icons">
            create
          </i></button>
          <button mat-raised-button (click)="deleteTraining(element)"><i class="material-icons">close</i></button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsMobile"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></tr>
  </table>
</div>
