<div class="row">
  <div class="col-md-3">
    <div
      class="card"
      mwlDroppable
      (drop)="externalDrop($event.dropData.event)"
      dragOverClass="drag-over"
    >

      <div class="card-body">
        <p *ngIf="trainings.length === 0"><em>No events added</em></p>
        <ul>
          <li
            *ngFor="let event of trainings"
            mwlDraggable
            [dropData]="{event: event}"
            dragActiveClass="drag-active"
          >
            <a href="javascript:;" [style.color]="event.color.primary">
              {{ event.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <app-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="getAll()"
    (viewChange)="getAll()"
  >
  </app-calendar-header>

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
      Loading events...
    </div>
  </ng-template>


    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="eventClicked('Clicked', $event.event)"
        (eventTimesChanged)="eventDropped($event)"
        [openDayEventsTemplate]="customActionTemplate"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked('Clicked', $event.event)"
        (eventTimesChanged)="eventDropped($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        (eventClicked)="eventClicked('Clicked',$event.event)"
        (eventTimesChanged)="eventDropped($event)"
      >
      </mwl-calendar-day-view>
    </div>
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>



  <ng-template
    #customActionTemplate
    let-events="events"
    let-eventClicked="eventClicked"
    let-isOpen="isOpen">
    <div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
      <div
        *ngFor="let event of events;"
        [ngClass]="event?.cssClass"
        mwlDraggable
        [class.cal-draggable]="event.draggable"
        dragActiveClass="cal-drag-active"
        [dropData]="{event: event}"
        [dragAxis]="{x: event.draggable, y: event.draggable}">
<!--          <span-->
<!--            class="cal-event"-->
<!--            [style.backgroundColor]="event.color?.primary">-->
<!--          </span>-->
<!--        <mwl-calendar-event-title-->
<!--          [event]="event"-->
<!--          view="month"-->
<!--          (mwlClick)="eventClicked.emit({event: event})">-->
<!--        </mwl-calendar-event-title>-->
<!--        <mwl-calendar-event-actions-->
<!--          [event]="event">-->
<!--        </mwl-calendar-event-actions>-->

        <div>
          <span
            class="cal-event"
            [style.backgroundColor]="event.color?.primary">
          </span>
          <p>{{event.title}}</p>
          <i (click)="displayTrainingCalendar(event)" class="fa fa-fw fa-pencil"></i>
          <i (click)="deleteTrainingCalendar(event)" class="fa fa-fw fa-times"></i>
        </div>
      </div>

    </div>
  </ng-template>

