<div class="center-align marginMainDiv">
  <h5 class="margin">Connexion</h5>
  <div class="container">
    <div class="z-depth-1 grey lighten-4 row main">
      <form class="col s12" >
<!--      <form class="col s12" [formGroup]="loginForm">-->
        <div class='row'>
          <mat-form-field class='col s12'>
            <div>
              <input type="text" matInput placeholder="Nom d'utilisateur" formControlName="username" required>
<!--              <mat-error *ngFor="let validation of error_messages.username">-->
<!--                <mat-error class="error-message" *ngIf="loginForm.get('username').hasError(validation.type) &&-->
<!--                  (loginForm.get('username').dirty || loginForm.get('username').touched)">{{validation.message}}-->
<!--                </mat-error>-->
<!--              </mat-error>-->
            </div>
          </mat-form-field>
        </div>
        <div class='row'>
          <mat-form-field class='col s12'>
            <div>
              <input type="password" matInput placeholder="Mot de passe" formControlName="password" required>
<!--              <mat-error *ngFor="let validation of error_messages.password">-->
<!--                <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) &&-->
<!--                  (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}-->
<!--                </mat-error>-->
<!--              </mat-error>-->
            </div>
          </mat-form-field>
        </div>
        <div class='row submitButton'>
<!--          <button type='submit' class='col s12 btn btn-large' (click)="login()">Connexion</button>-->
        </div>
      </form>
    </div>
  </div>
</div>
